.list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.list li {
  width: 30%;
}

.list li img {
  width: 40%;
margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .list {
    display: block;
  }

  .list li {
    width: 100%;
    margin-bottom: 20px;
  }
}
