.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header {
background: #f72f42;
}

.header nav {
  width: 90%;
}

.header nav ul {
  display: flex;
  justify-content: right;
  padding: 0;
  list-style-type: none;
}

.header nav ul li a {
  margin-left: 20px;
  color: white;
  font-size: 14px;
}
