.footer ul {
  display: flex;
  list-style-type: none;
  justify-content: left;
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #2d2d2d;
}

.footer ul {
 padding-left: 0;
}

.footer ul li {
  width: 30%;
  max-width: 200px;
  text-align: left;
}

.footer ul li p,
.footer ul li a {
  color: white;
}

.footer .bottomCopy {
  text-align: left;
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid #ff6600;
  padding-top: 10px;
  color: white;
}
